<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{url_for('static',filename="src/favicon_.ico") }}" type="image/x-icon">
    <title>
      Foodie
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/{{ username }}">Foodie</a>
          </div>
    
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/CloseOrder/{{ username }}"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a></li>
              <li><a href="/advanced_purchase/{{ username }}"><span class="glyphicon glyphicon-usd"></span> 帳單概況</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                    class="glyphicon glyphicon-info-sign"></span> 使用者中心</a>
                <ul class="dropdown-menu">
                  <li><a href="/personalInfo/{{ username }}">{{ username }}的個人檔案</a></li>
                  <li><a href="/PersonalOrder/{{ username }}">我的訂單</a></li>
                  <li><a href="/Private_Collection/{{ username }}">我的收藏</a></li>
                  <li><a href="/personal/{{ username }}?month=12">自訂預算</a></li>
                  <li><a href="/customerService/{{ username }}">客服中心</a></li>
                  <li><a href="/deposit/{{ username }}">錢包</a></li>
                  <li><a href="#">登出</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">銅板輕鬆點</a></li>
                    <li><a data-toggle="tab" href="#menu1">麥當勞分享盒</a></li>
                    <li><a data-toggle="tab" href="#menu2">特選系列</a></li>
                    <li><a data-toggle="tab" href="#menu3">備註</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <br>
                        <div class="jumbotron" style="background-image: url('{{ url_for("static", filename="src/20211020210954_68.jpg") }}'); margin-bottom: 0px;"></div>
                        <h3 >銅板輕鬆點</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left" >
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/大蛋捲冰淇淋+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/四塊麥克鷄塊+玉米湯(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">四塊麥克鷄塊+玉米湯(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/吉事漢堡+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">吉事漢堡+可樂(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/酥嫩鷄翅(一份兩塊)+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅(一份兩塊)+可樂(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/薯條(小包)+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <hr>
                        
                        <h3>麥當勞分享盒</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克雞塊分享盒(20塊) $250.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克雞塊分享盒(20塊)</h5>
                                        <p>價錢： $250</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克鷄塊分享盒(30塊) $300.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克鷄塊分享盒(30塊)</h5>
                                        <p>價錢： $300</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥脆鷄腿分享盒(6塊) $150.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥脆鷄腿分享盒(6塊)</h5>
                                        <p>價錢： $150</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/勁辣香鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/酥嫩鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/鷄塊鷄腿分享盒 $350.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">鷄塊鷄腿分享盒</h5>
                                        <p>價錢： $350</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>特選系列</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 安格斯牛肉堡  $80.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 安格斯牛肉堡</h5>
                                        <p>價錢： $80</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 嫩煎鷄腿堡 $95.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 嫩煎鷄腿堡</h5>
                                        <p>價錢： $95</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 辣脆鷄腿堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 辣脆鷄腿堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/凱撒辣脆鷄沙拉 #85.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">凱撒辣脆鷄沙拉</h5>
                                        <p>價錢： $85</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/義式烤鷄沙拉 $100.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">義式烤鷄沙拉</h5>
                                        <p>價錢： $100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/蕈菇安格斯牛肉堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">蕈菇安格斯牛肉堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comment">備註:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>

                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <br>
                        <div class="jumbotron" style="background-image: url('{{ url_for("static", filename="src/20211020210954_68.jpg") }}'); margin-bottom: 0px;"></div>
                        
                        <h3>麥當勞分享盒</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克雞塊分享盒(20塊) $250.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克雞塊分享盒(20塊)</h5>
                                        <p>價錢： $250</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克鷄塊分享盒(30塊) $300.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克鷄塊分享盒(30塊)</h5>
                                        <p>價錢： $300</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥脆鷄腿分享盒(6塊) $150.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥脆鷄腿分享盒(6塊)</h5>
                                        <p>價錢： $150</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/勁辣香鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/酥嫩鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/鷄塊鷄腿分享盒 $350.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">鷄塊鷄腿分享盒</h5>
                                        <p>價錢： $350</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        
                        <h3>銅板輕鬆點</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/大蛋捲冰淇淋+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/四塊麥克鷄塊+玉米湯(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/吉事漢堡+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/酥嫩鷄翅(一份兩塊)+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅(一份兩塊)+可樂(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/薯條(小包)+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>特選系列</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 安格斯牛肉堡  $80.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 安格斯牛肉堡</h5>
                                        <p>價錢： $80</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 嫩煎鷄腿堡 $95.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 嫩煎鷄腿堡</h5>
                                        <p>價錢： $95</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 辣脆鷄腿堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 辣脆鷄腿堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/凱撒辣脆鷄沙拉 #85.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">凱撒辣脆鷄沙拉</h5>
                                        <p>價錢： $85</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/義式烤鷄沙拉 $100.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">義式烤鷄沙拉</h5>
                                        <p>價錢： $100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/蕈菇安格斯牛肉堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">蕈菇安格斯牛肉堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comment">備註:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>

                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <br>
                        <div class="jumbotron" style="background-image: url('{{ url_for("static", filename="src/20211020210954_68.jpg") }}'); margin-bottom: 0px;"></div>
                        
                        <h3>特選系列</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 安格斯牛肉堡  $80.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 安格斯牛肉堡</h5>
                                        <p>價錢： $80</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 嫩煎鷄腿堡 $95.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 嫩煎鷄腿堡</h5>
                                        <p>價錢： $95</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 辣脆鷄腿堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 辣脆鷄腿堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/凱撒辣脆鷄沙拉 #85.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">凱撒辣脆鷄沙拉</h5>
                                        <p>價錢： $85</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/義式烤鷄沙拉 $100.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">義式烤鷄沙拉</h5>
                                        <p>價錢： $100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/蕈菇安格斯牛肉堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">蕈菇安格斯牛肉堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <hr>
                        
                        <h3>銅板輕鬆點</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/大蛋捲冰淇淋+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/四塊麥克鷄塊+玉米湯(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/吉事漢堡+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/酥嫩鷄翅(一份兩塊)+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅(一份兩塊)+可樂(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/薯條(小包)+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>麥當勞分享盒</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克雞塊分享盒(20塊) $250.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克雞塊分享盒(20塊)</h5>
                                        <p>價錢： $250</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克鷄塊分享盒(30塊) $300.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克鷄塊分享盒(30塊)</h5>
                                        <p>價錢： $300</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥脆鷄腿分享盒(6塊) $150.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥脆鷄腿分享盒(6塊)</h5>
                                        <p>價錢： $150</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/勁辣香鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/酥嫩鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/鷄塊鷄腿分享盒 $350.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">鷄塊鷄腿分享盒</h5>
                                        <p>價錢： $350</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comment">備註:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>

                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <br>
                        <div class="jumbotron" style="background-image: url('{{ url_for("static", filename="src/20211020210954_68.jpg") }}'); margin-bottom: 0px;"></div>
                        <h3>備註</h3>
                        <div class="form-group">
                            <label for="comment">備註:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        
                        <hr>
                        
                        <h3>銅板輕鬆點</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/大蛋捲冰淇淋+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/四塊麥克鷄塊+玉米湯(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/吉事漢堡+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅(一份兩塊)+冰紅茶(檸檬風味)(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/酥嫩鷄翅(一份兩塊)+可樂(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅(一份兩塊)+可樂(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/銅板輕鬆點/薯條(小包)+雪碧(小).jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">大蛋捲冰淇淋+雪碧(小)</h5>
                                        <p>價錢： $50</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>麥當勞分享盒</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克雞塊分享盒(20塊) $250.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克雞塊分享盒(20塊)</h5>
                                        <p>價錢： $250</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥克鷄塊分享盒(30塊) $300.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥克鷄塊分享盒(30塊)</h5>
                                        <p>價錢： $300</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/麥脆鷄腿分享盒(6塊) $150.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">麥脆鷄腿分享盒(6塊)</h5>
                                        <p>價錢： $150</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/勁辣香鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">勁辣香鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/酥嫩鷄翅分享盒 $180.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">酥嫩鷄翅分享盒</h5>
                                        <p>價錢： $180</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/麥當勞分享盒/鷄塊鷄腿分享盒 $350.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">鷄塊鷄腿分享盒</h5>
                                        <p>價錢： $350</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>特選系列</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 安格斯牛肉堡  $80.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 安格斯牛肉堡</h5>
                                        <p>價錢： $80</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 嫩煎鷄腿堡 $95.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 嫩煎鷄腿堡</h5>
                                        <p>價錢： $95</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/BLT 辣脆鷄腿堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">BLT 辣脆鷄腿堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/凱撒辣脆鷄沙拉 #85.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">凱撒辣脆鷄沙拉</h5>
                                        <p>價錢： $85</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/義式烤鷄沙拉 $100.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">義式烤鷄沙拉</h5>
                                        <p>價錢： $100</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="{{ url_for('static', filename="src/特選系列/蕈菇安格斯牛肉堡 $75.jfif")}}" class="media-object" style="width:60px">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">蕈菇安格斯牛肉堡</h5>
                                        <p>價錢： $75</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default col-sm-3 col-sm-offset-1">
                <div class="row" style="margin:20px">
                    <h3><strong>訂單內容</strong></h3>

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>餐點</th>
                                <th>價格</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>四塊麥克鷄塊+玉米湯</td>
                                <td>NT50</td>
                            </tr>

                            <tr>
                                <td>凱撒辣脆鷄沙拉</td>
                                <td>NT85</td>
                            </tr>

                            <tr>
                                <td>蕈菇安格斯牛肉堡</td>
                                <td>NT75</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                       <h3>總額</h3> 
                    </div>
                    <div class="col-sm-6">
                        <h3>NT 210</h3> 
                     </div>
                </div>
            </div>
            
            
        </div>
        

    </div>

</body>

</html>