<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{url_for('static',filename="src/favicon_.ico") }}" type="image/x-icon">
    <title>
      Foodie
    </title>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Foodie</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-usd"></span> 帳單概況</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                                class="glyphicon glyphicon-info-sign"></span> 使用者中心</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">{{ username }}的個人檔案</a></li>
                            <li><a href="#">我的訂單</a></li>
                            <li><a href="#">我的收藏</a></li>
                            <li><a href="#">自訂預算</a></li>
                            <li><a href="#">客服中心</a></li>
                            <li><a href="#">錢包</a></li>
                            <li><a href="#">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2 class="text-center"><strong>再次確認您的訂單</strong></h2>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><strong>訂單時間</strong></h3>
                </div>
                <div class="panel-body">
                    <h2 class="text-center"><strong>-- : --</strong></h2>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><strong>訂單人資訊</strong></h3>
                </div>
                <div class="panel-body text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                </div>
                <div class="panel-footer">
                    <input type="button" class="btn btn-warning" value="細項">
                </div>
            </div>
            
        </div>
        <div class="col-sm-6">
            <h3><strong>訂單內容</strong></h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>餐點</th>
                        <th>價格</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>訂單一</td>
                        <td>NT $$$</td>
                    </tr>

                    <tr>
                        <td>訂單二</td>
                        <td>NT $$$</td>
                    </tr>

                    <tr>
                        <td>訂單三</td>
                        <td>NT $$$</td>
                    </tr>

                </tbody>
            </table>
            <div class="col-sm-6">
                <h3><strong>總額</strong></h3>    
            </div>
            <div class="col-sm-6">
                <h3><strong>NT $$$</strong></h3>    
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="col-sm-6">
            <div class="text-center">
                <div style="display: flex; justify-content: space-between;">
                    <button class="btn btn-warning btn-lg">團購拆款</button>
    
                    <button class="btn btn-warning btn-lg">確定結帳</button>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>