<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename=" css/style.css") }}">
  <style>
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Foodie</a>
      </div>

      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="button" class="btn">
          <span class="glyphicon glyphicon-globe"></span> 搜尋
        </button>
      </form>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-usd"></span> 帳單概況</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="glyphicon glyphicon-info-sign"></span> 使用者中心</a>
            <ul class="dropdown-menu">
              <li><a href="#">{{ username }}的個人檔案</a></li>
              <li><a href="#">我的訂單</a></li>
              <li><a href="#">我的收藏</a></li>
              <li><a href="#">自訂預算</a></li>
              <li><a href="#">客服中心</a></li>
              <li><a href="#">錢包</a></li>
              <li><a href="#">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container text-center">
    <div style="border:2px solid #cdcfd1; border-radius:20px; background-color: #8c8c8d;">
      <h3 font-size="10px" style="font-family: Georgia;">
        <b style="color: white;">
          Foodie 消費者服務專區
        </b>
      </h3>

      <hr style="color:#515152;">

      <br>

      <div class="row" id="message_container">
        <div class="col-sm-12">
          <div class="col-sm-1 col-sm-offset-6">
            <sub style="color: white;">9:16 </sub>
          </div>
          <div class="col-sm-4" style="background-color: #fffffa; border-radius: 20px;">
            <p>您好，我的餐點會被額外抽成嗎？</p>
          </div>
        </div>

        <br>

        <div class="col-sm-12" style="color: white;">
          <div class="col-sm-4 col-sm-offset-1" style="background-color: #0d5c63; border-radius: 20px;">
            <p>Foodie因為考慮到消費者及店家，因此不會再抽成。</p>
          </div>
          <div class="col-sm-1">
            <sub>9:16 </sub>
          </div>
        </div>

        <br>

        <div class="col-sm-12">
          <div class="col-sm-1 col-sm-offset-6">
            <sub style="color: white;">10:57 </sub>
          </div>
          <div class="col-sm-4" style="background-color: #fffffa; border-radius: 20px;">
            <p>好的，謝謝您。</p>
          </div>
        </div>

        <br>

        <div class="col-sm-12" style="color: white;">
          <div class="col-sm-4 col-sm-offset-1" style="background-color: #0d5c63; border-radius: 20px;">
            <p>不會，Foodie感謝您的提問。</p>
          </div>
          <div class="col-sm-1">
            <sub>10:58 </sub>
          </div>
        </div>
      </div>



      <hr style="width:100%;color:#515152;">

      <div style="margin: 0 0 20px 0;">
        <button type="button" class="btn btn-default">
          我可以退費嗎？
        </button>

        <button type="button" class="btn btn-default">
          非常謝謝你！
        </button>

        <button type="button" class="btn btn-default">
          我的餐點還沒來！
        </button>
      </div>

      <div class="input-group col-sm-6 col-sm-offset-3">
        <input type="text" class="form-control" placeholder="提交您的建議" id="input_field">
        <div class="input-group-btn">
          <button class="btn btn-default" onclick="add_comment()">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
        </div>
      </div>

      <br>
    </div>
  </div>

  <script>
    function add_comment() {
      let hours = new Date().getHours();
      let minute = new Date().getMinutes();
      let comment = $("#input_field").val();
      $("#input_field").val("");
      $.tmpl(`
          <br>
          <div class="col-sm-12">
            <div class="col-sm-1 col-sm-offset-6">
              <sub style="color: white;">${hours}:${minute}</sub>
            </div>
            <div class="col-sm-4" style="background-color: #fffffa; border-radius: 20px;">
              <p>${comment}</p>
            </div>
          </div>
          
      `).appendTo("#message_container");
    }
  </script>
</body>

</html>