<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{{url_for('static',filename="src/favicon_.ico") }}" type="image/x-icon">
  <title>
    Foodie
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename=" css/style.css") }}">

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/{{ username }}">Foodie</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/CloseOrder/{{ username }}"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a></li>
          <li><a href="/advanced_purchase/{{ username }}"><span class="glyphicon glyphicon-usd"></span> 帳單概況</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                class="glyphicon glyphicon-info-sign"></span> 使用者中心</a>
            <ul class="dropdown-menu">
              <li><a href="/personalInfo/{{ username }}">{{ username }}的個人檔案</a></li>
              <li><a href="/PersonalOrder/{{ username }}">我的訂單</a></li>
              <li><a href="/Private_Collection/{{ username }}">我的收藏</a></li>
              <li><a href="/personal/{{ username }}?month=12">自訂預算</a></li>
              <li><a href="/customerService/{{ username }}">客服中心</a></li>
              <li><a href="/deposit/{{ username }}">錢包</a></li>
              <li><a href="#">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container text-center">
    <div class="panel panel-default col-sm-4 col-sm-offset-4" style="margin-top: 10%;">
      <div class="panel-body" >
        <form id="form-horizontal" action="/loginSuccess/{{ username }}">
          <h2>歡迎回來</h2>
          <div class="form-group">
            <input class="form-control text-center" id="email" type="email" placeholder="電子信箱" />
          </div>
          <div class="form-group">
            <input class="form-control text-center" id="phone" type="tel" placeholder="電話號碼" />
          </div>
          <button class="btn btn-primary btn-xl" id="submitButton" type="submit">送出</button>
        </form>

      </div>
    </div>
  </div>
</body>

</html>