<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .container {
      text-align: center;
      border: 3px solid rgb(51, 53, 51);
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Foodie</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-usd"></span> 帳單概況</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                class="glyphicon glyphicon-info-sign"></span> 使用者中心</a>
            <ul class="dropdown-menu">
              <li><a href="#">{{ username }}的個人檔案</a></li>
              <li><a href="#">我的訂單</a></li>
              <li><a href="#">我的收藏</a></li>
              <li><a href="#">自訂預算</a></li>
              <li><a href="#">客服中心</a></li>
              <li><a href="#">錢包</a></li>
              <li><a href="#">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <!--<div class="modal fade" id="myModal" role="dialog">-->
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">恭喜</h4>
      </div>
      <div class="modal-body">
        <p>您已註冊成功，請至信箱驗證會員身分。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>




</body>

</html>