<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  
    img {
      width: 100%;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Foodie</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-usd"></span> 帳單概況</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                class="glyphicon glyphicon-info-sign"></span> 使用者中心</a>
            <ul class="dropdown-menu">
              <li><a href="#">{{ username }}的個人檔案</a></li>
              <li><a href="#">我的訂單</a></li>
              <li><a href="#">我的收藏</a></li>
              <li><a href="#">自訂預算</a></li>
              <li><a href="#">客服中心</a></li>
              <li><a href="#">錢包</a></li>
              <li><a href="#">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h2>正在進行的訂單</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <img
            src="{{ url_for('static', filename='src/麥當勞分享盒/鷄塊鷄腿分享盒 $350.jfif')  }}"
              alt="Avatar">
          </div>
          <div class="col-sm-8">
            <h3>肯德基KFC (中壢中正店)</h3>
            <p> 雞塊雞腿分享盒,香酥脆薯</p>
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo0">查看細項</button>
            <div id="demo0" class="collapse">
              <p>
                <span>1x雞塊雞腿分享盒 $100 </span><br>
                <span> 1x香酥脆薯 (大) $50 </span><br>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <img
            src="{{ url_for('static', filename='src/麥當勞分享盒/酥嫩鷄翅分享盒 $180.jfif')  }}"
              alt="Avatar">
          </div>
          <div class="col-sm-8">
            <h3>肯德基KFC (中壢中正店)</h3>
            <p>酥嫩鷄翅分享盒, 香酥脆薯 (大)</p>
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo1">查看細項</button>
            <div id="demo1" class="collapse">
              <p>
                <span>1x酥嫩鷄翅分享盒 $150</span><br>
                <span>2x香酥脆薯 (大) $100 </span><br>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <img
            src="{{ url_for('static', filename='src/麥當勞分享盒/麥克鷄塊分享盒(30塊) $300.jfif')  }}"
              alt="Avatar">
          </div>
          <div class="col-sm-8">
            <h3>肯德基KFC (中壢中正店)</h3>
            <p>麥克雞塊分享盒(30塊), 香酥脆薯 (大)</p>
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo2">查看細項</button>
            <div id="demo2" class="collapse">
              <p>
                <span>1x麥克雞塊分享盒(30塊) $100 </span><br>
                <span>1x香酥脆薯 (大) $100 </span><br>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <h2>正在進行的訂單</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <img
            src="{{ url_for('static', filename='src/麥當勞分享盒/麥克雞塊分享盒(20塊) $250.jfif')  }}"
              alt="Avatar">
          </div>
          <div class="col-sm-8">
            <h3>肯德基KFC (中壢中正店)</h3>
            <p>麥克雞塊分享盒, 香酥脆薯 (大)</p>
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo3">查看細項</button>
            <div id="demo3" class="collapse">
              <p>
                <span>1x麥克雞塊分享盒(20塊) $200</span><br>
                <span>1x香酥脆薯 (大) $50</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">
            <img
              src="{{ url_for('static', filename='src/麥當勞分享盒/勁辣香鷄翅分享盒 $180.jfif')  }}"
              alt="Avatar">
          </div>
          <div class="col-sm-8">
            <h3>肯德基KFC (中壢中正店)</h3>
            <p>勁辣香雞翅套餐 (中辣), 香酥脆薯(大)</p>
            <br>
            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo4">查看細項</button>
            <div id="demo4" class="collapse">
              <p>
                <span>1x勁辣香雞翅套餐 (中辣) $100 </span><br>
                <span>1x香酥脆薯 (大) $50</span><br>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <br><br>

























</body>

</html>