<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{{url_for('static',filename="src/favicon_.ico") }}" type="image/x-icon">
  <title>
    Foodie
  </title>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Foodie</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> 購物車</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-usd"></span> 帳單概況</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                class="glyphicon glyphicon-info-sign"></span> 使用者中心</a>
            <ul class="dropdown-menu">
              <li><a href="#">{{ username }}的個人檔案</a></li>
              <li><a href="#">我的訂單</a></li>
              <li><a href="#">我的收藏</a></li>
              <li><a href="#">自訂預算</a></li>
              <li><a href="#">客服中心</a></li>
              <li><a href="#">錢包</a></li>
              <li><a href="#">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2><strong>好友分帳序號</strong></h2>
        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
          <div class="panel panel-default text-center">
            <h3><strong>#01234ABCD</strong></h3>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center">
    <h3><strong>您的分帳好友</strong></h3>
  </div>


  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-circle" viewBox="0 0 16 16"
              style="max-height: 110px;">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </div>

          <div class="col-sm-6 col-sm-offset-2">
            <h3><strong>NAME</strong></h3>
            <h3><strong>NT100</strong></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-circle" viewBox="0 0 16 16"
              style="max-height: 110px;">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </div>

          <div class="col-sm-6 col-sm-offset-2">
            <h3><strong>NAME</strong></h3>
            <h3><strong>NT100</strong></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-circle" viewBox="0 0 16 16"
              style="max-height: 110px;">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </svg>
          </div>

          <div class="col-sm-6 col-sm-offset-2">
            <h3><strong>NAME</strong></h3>
            <h3><strong>NT100</strong></h3>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3><strong>您的自付額</strong></h3>
          <h3><strong>NT150</strong></h3>
        </div>
      </div>      
    </div>
  </div>

  <div class="container text-center">
    <button class="btn btn-warning btn-lg">結算下單</button>
  </div>
  <br>
</body>